<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Hair OLIVE</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">Philosopher</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <a href="#">チャットを作成する</a>
          <%# 登録、ログインしてなければ %>
          <a href="#">新規登録</a>
          <a href="#">ログイン</a>
          <%# ログインしていれば %>
          <a href="#">ニックネーム</a>
          <a href="#">ログアウト</a>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <%= image_tag "tetugaku.jpg", class:"top-image" %>
      </div>
    </div>
  
    <div class='title-contents'>
      <h2 class='service-title'>
        哲学について語りませんか？
      </h2>
      <p class='service-explain'>
        議題は誰でも発信出来ます。
      </p>
      <p class='service-explain'>
        チャットアプリです。
      </p>
    </div>

    <div class='room-contents'>
      <h2 class='pick-title'>ピックアップルーム</h2>
    </div>


    <footer>
      <p>Sei.Nakata.Original</p>
    </footer>
  </body>
</html>