<!DOCTYPE HTML>
<html>
 <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Hair OLIVE</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <h1 class="title">Philosopher</h1>
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <a href="#">チャットを作成する</a>
          <%# 登録、ログインしてなければ %>
          <a href="#">新規登録</a>
          <a href="#">ログイン</a>
          <%# ログインしていれば %>
          <a href="#">ニックネーム</a>
          <a href="#">ログアウト</a>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <!-- 『トップ画像』を表示する -->
      </div>
      <div class="upper-content">
        <!-- 『新着情報』を表示する -->
      </div>
      <div class="middle-content">
        <!-- 『スタイリスト紹介』を表示する -->
      </div>
      <div class="bottom-content">
        <!-- 『フォーム』を表示する -->
      </div>
    </div>

    <footer>
    </footer>
  </body>
</html>