header {
  height: 70px;
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.title {
  font-size: 7vh;
  padding: 0 0 0 50px;
  color: rgb(49, 66, 102);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

first-viewクラスからbottom-contentクラスまでの要素の親要素
.contents {
  background-color: white;
}

.first-view{
  height: 55vh;
}

.top-image{
  height: 100%;
  width: 100%;
}

/* フッター */
footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
}

.title-contents {
  flex-direction: column;
  padding: 5vh 28vw;
  color: rgb(229, 250, 253);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 6vh;
}

.service-explain {
  font-size: 2.4vh;
  line-height: 40px;
}

.pick-title {
  flex-direction: column;
  padding: 5vh;
  color: #11121b;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-size: 4vh;
}


